#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  max-width: 860px;
  margin: 40px auto;
}

button:hover{
  background-color: #9ea900 ;
  color: #fff;
}


.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
